version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: pato
      POSTGRES_PASSWORD: pato123456
      POSTGRES_DB: club
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  app:
    build: .
    container_name: nextjs_app
    ports:
      - '3000:3000'
    environment:
      # Use the service name 'db' for internal networking
      - DATABASE_URL=postgresql://pato:pato123456@db:5432/club
      - NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
      - CLERK_SECRET_KEY=${CLERK_SECRET_KEY}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
    depends_on:
      - db
    restart: always

volumes:
  postgres_data:
